@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using At.Mausa.Grasmaster.Domain.Models;
@model Product

<h1>Confirm Delete</h1>
<h2>Are you sure to delete that?</h2>
<span>GUID: @Model.Guid</span>

<br />

<span>Name: @Model.Name"</span>
<span>Description: @Model.Description</span>
<span>Art: @Model.ProductType</span>

<form method="post">
	<input hidden name="guid" value="@Model.Guid" />
	<input type="submit" value="Submit" class="submit" />
</form>
<a href="..">Cancel</a>
